<html>
  <head>
    <title>Stock - Add Category</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script>
    function validateForm() {
        var denC = document.forms["addCategory"]["denC"].value;

        if (denC == "" ) {
            alert("Category Name must be filled out");
            return false;
        }
        if (denC.value.length >= 255 ) {
            alert("Category Name max length is 255.");
            return false;
        }

        window.location.replace='addCategory.html';
    }

    </script>
  </head>
  <body>
    <div class="container">
      <h1>Add category</h1>
      <br>
      <form name="addCategory" id="addCategory" action="" onsubmit="return validateForm()" method="post">
         <input type="text" placeholder="Category Name" name="denC" value="{{request.form.denC }}">
        <input class="btn btn-default" type="submit"  value="Add">
        <input class="btn btn-default" type="button" onclick="location.href='/';" value="Return to Main" />
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="container">
        <br>
        <h2>Already inserted:</h2>
        <table>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
            </tr>
            {% for category in categories %}
            <tr>
                <td align="center">{{ category[0] }}</a></td>
                <td align="center">{{ category[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </body>
</html>