<html>
  <head>
    <title>Stock - Add Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script>
    function validateForm() {
        var idC= document.forms["addProduct"]["idC"].value;
        var denP = document.forms["addProduct"]["denP"].value;
        var price = document.forms["addProduct"]["price"].value;
        var regexp= /^\d{1,8}(\.\d{1,2})?$/;

        if (idC == "") {
            alert("Category ID must be filled out.");
            return false;
        }
        if (isNaN(idC)) {
            alert("Category ID must be a number.");
            return false;
        }
        if (denP == "" ) {
            alert("Product Name must be filled out.");
            return false;
        }
        if (denP.value.length >= 255 ) {
            alert("Category Name max length is 255.");
            return false;
        }
        if (isNaN(price)) {
            alert("Price must be a number.");
            return false;
        }
        if (!regexp.test(price)){
            alert("Price should have MMMMMMMM.DD form ");
            return false;
        }
        window.location.replace='addProduct.html';
    }
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Add Product</h1>
      <br>
      <form name="addProduct" action="" onsubmit="return validateForm()" method="post">
         <input type="text" placeholder="Category ID" name="idC" value="{{request.form.idC }}">
         <input type="text" placeholder="Product Name" name="denP" value="{{request.form.denC }}">
         <input type="text" placeholder="Price" name="price" value="{{request.form.price }}">
        <input class="btn btn-default" type="submit" value="Add">
        <input class="btn btn-default" type="button" onclick="location.href='/';" value="Return to Main" />
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="container">
        <h2>Products categories</h2>
        <table>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
            </tr>
            {% for category in categories %}
            <tr>
                <td align="center">{{ category[0] }}</a></td>
                <td align="center">{{ category[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </body>
</html>