<html>
  <head>
    <title>Stock - Search Stock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script>
    function validateForm1() {
        var denP= document.forms["seachStockByProduct"]["denP"].value;

        if (denP == "") {
            alert("Product ID must be filled out.");
            return false;
        }

    }
    function validateForm2() {
        var qty = document.forms["seachStockByQty"]["qty"].value;
        var regexp_qty= /^\d{1,10}(\.\d{1,3})?$/;

        if (qty == "" ) {
            alert("Quantity must be filled out.");
            return false;
        }
        if (isNaN(qty)) {
            alert("Quantity must be a number.");
            return false;
        }
        if (!regexp_qty.test(qty)){
            alert("Quantity should have MMMMMMMMMM.DDD form ");
            return false;
        }

    }
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Search Stock By Product Name</h1>
      <br>
      <form name="seachStockByProduct" action="" onsubmit="return validateForm1()" method="post">
         <input type="text" placeholder="Product Name" name="denP" value="{{request.form.denP }}">
        <input class="btn btn-default" type="submit" value="Search">
        <input class="btn btn-default" type="button" onclick="location.href='/';" value="Return to Main" />
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="container">
        <br>
        {% if productsInfo %}
        <table>
            <tr>
                <th>Product Name</th>
                <th>Current Stock</th>
                <th>Price</th>
            </tr>
            {% for product in productsInfo %}
            <tr>
                <td align="center">{{ product[0] }}</a></td>
                <td align="center">{{ product[1] }}</td>
                <td align="center">{{ product[2] }}</td>
            </tr>
            {% endfor %}


        </table>
        {% endif %}
    </div>
    <div class="container">
      <h1>Search Stock By Transaction Quantity</h1>
      <br>
      <form name="seachStockByQty" action="" onsubmit="return validateForm2()" method="post">
         <input type="text" placeholder="Quantity" name="qty" value="{{request.form.qty }}">
        <input class="btn btn-default" type="submit" value="Search">
        <input class="btn btn-default" type="button" onclick="location.href='/';" value="Return to Main" />
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="container">
        <br>
        {% if transactions %}
        <table>
            <tr>
                <th>Transaction ID</th>
                <th>Product Name</th>
                <th>Transaction Quantity</th>
                <th>Date</th>
            </tr>
            {% for transaction in transactions %}
            <tr>
                <td align="center">{{ transaction[0] }}</a></td>
                <td align="center">{{ transaction[1] }}</td>
                <td align="center">{{ transaction[2] }}</td>
                <td align="center">{{ transaction[3] }}</td>
            </tr>
            {% endfor %}


        </table>
        {% endif %}
    </div>
  </body>
</html>