<html>
  <head>
    <title>Stock - Add Stock Limit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script>
    function validateForm() {
        var idP= document.forms["addStockLimit"]["idC"].value;
        var limit = document.forms["addStockLimit"]["limit"].value;
        var regexp_qty= /^\d{1,10}(\.\d{1,3})?$/;

        if (idP == "") {
            alert("Product ID must be filled out.");
            return false;
        }
        if (isNaN(idP)) {
            alert("Product ID must be a number.");
            return false;
        }
        if (qty == "" ) {
            alert("Quantity must be filled out.");
            return false;
        }
        if (isNaN(qty)) {
            alert("Quantity must be a number.");
            return false;
        }
        if (!regexp_qty.test(qty)){
            alert("Quantity should have MMMMMMMMMM.DDD form ");
            return false;
        }

        window.location.replace='addProduct.html';
    }
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Add Stock limit</h1>
      <br>
      <form name="addStockLimit" action="" onsubmit="return validateForm()" method="post">
         <input type="text" placeholder="Product ID" name="idP" value="{{request.form.idP }}">
         <input type="text" placeholder="Stock Limit" name="limit" value="{{request.form.limit }}">
        <input class="btn btn-default" type="submit" value="Add">
        <input class="btn btn-default" type="button" onclick="location.href='/';" value="Return to Main" />
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="container">
        <h2>Products in stock:</h2>
        <table>
            <tr>
                <th>Product ID</th>
                <th>Category ID</th>
                <th>Product Name</th>
                <th>Price</th>
            </tr>
            {% for product in products %}
            <tr>
                <td align="center">{{ product[0] }}</a></td>
                <td align="center">{{ product[1] }}</td>
                <td align="center">{{ product[2] }}</td>
                <td align="center">{{ product[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </body>
</html>