<html>
  <head>
    <title>Stock - Stock Change</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script>
    function validateForm() {
        var idP= document.forms["addStockChange"]["idP"].value;
        var qty = document.forms["addStockChange"]["qty"].value;
        var price = document.forms["addStockChange"]["price"].value;
        var regexp_qty= /^\d{1,10}(\.\d{1,3})?$/;
        var regexp_price= /^\d{1,8}(\.\d{1,2})?$/;

        if (idP == "") {
            alert("Product ID must be filled out.");
            return false;
        }

        if (qyt == "" ) {
            alert("Quantity must be filled out.");
            return false;
        }
        if (isNaN(qty)) {
            alert("Quantity must be a number.");
            return false;
        }
        if (!regexp_qty.test(qty)){
            alert("Quantity should have MMMMMMMMMM.DDD form ");
            return false;
        }
        if (price == "") {
            alert("Price must be filled out.");
            return false;
        }
        if (isNaN(price)) {
            alert("Price must be a number.");
            return false;
        }
        if (!regexp_price.test(price)){
            alert("Price should have MMMMMMMM.DD form ");
            return false;
        }

        window.location.replace='addProduct.html';
    }
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Add Stock Change</h1>
      <br>
      <form name="addStockChange" action="" onsubmit="return validateForm()" method="post">
         <input type="text" placeholder="Product ID" name="idP" value="{{request.form.idP }}">
         <input type="text" placeholder="Quantity" name="qty" value="{{request.form.qty }}">
         <input type="text" placeholder="Price" name="price" value="{{request.form.price }}">
        <input class="btn btn-default" type="submit" value="Add">
        <input class="btn btn-default" type="button" onclick="location.href='/';" value="Return to Main" />
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="container">
        <br>
        <h2>Products categories</h2>
        <table>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
            </tr>
            {% for category in categories %}
            <tr>
                <td align="center">{{ category[0] }}</a></td>
                <td align="center">{{ category[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container">
        <br>
        <h2>Products in stock:</h2>
        <table>
            <tr>
                <th>Product ID</th>
                <th>Category ID</th>
                <th>Product Name</th>
                <th>Price</th>
            </tr>
            {% for product in products %}
            <tr>
                <td align="center">{{ product[0] }}</a></td>
                <td align="center">{{ product[1] }}</td>
                <td align="center">{{ product[2] }}</td>
                <td align="center">{{ product[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </body>
</html>