<html>
  <head>
    <title>Stock - Search Stock History For Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script>
    function validateForm() {
        var idP= document.forms["addStockLimit"]["idC"].value;

        if (idP == "") {
            alert("Product ID must be filled out.");
            return false;
        }
        if (isNaN(idP)) {
            alert("Product ID must be a number.");
            return false;
        }

    }
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Search Stock History For Product</h1>
      <br>
      <form name="stockHistoryForProduct" action="" onsubmit="return validateForm()" method="post">
         <input type="text" placeholder="Product ID" name="idP" value="{{request.form.idP }}">
        <input class="btn btn-default" type="submit" value="Search">
        <input class="btn btn-default" type="button" onclick="location.href='/';" value="Return to Main" />
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="container">
        <h2>Products in stock:</h2>
        <table>
            <tr>
                <th>Product ID</th>
                <th>Category ID</th>
                <th>Product Name</th>
                <th>Price</th>
            </tr>
            {% for product in products %}
            <tr>
                <td align="center">{{ product[0] }}</a></td>
                <td align="center">{{ product[1] }}</td>
                <td align="center">{{ product[2] }}</td>
                <td align="center">{{ product[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div align="center">
        {% if svg %}
            <svg viewBox="0 0 60 55" width="80%">
                {{svg | safe}}
            </svg>
        {% endif %}
    </div>


  </body>
</html>